<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Express - Libro de Visitas</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body class="container">
    <h1>Libro de visitas en express
    <a href="/new-entry" class="btn btn-primary pull-right">Escribe en el Libro de Visitas</a>
    </h1>

    